:root {
    --primary-color: #007bff;
    --primary-hover-color: #0056b3;
    --priamry-disabled-color: #5599cc;
    --background-color: #f4f4f4;
    --text-color: #000;
    --card-background: #fff;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --input-border: #ccc;
    --success-color: #80da58;
    --success-hover-color: #6bb849;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #1e90ff;
        --primary-hover-color: #1c86ee;
        --priamry-disabled-color: #0c44a7;
        --background-color: #121212;
        --text-color: #fff;
        --card-background: #1e1e1e;
        --card-shadow: rgba(255, 255, 255, 0.1);
        --input-border: #444;
        --success-color: #80da58;
        --success-hover-color: #6bb849;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    width: 90%;
    max-width: 600px;
}

.card {
    background: var(--card-background);
    border-radius: 15px;
    box-shadow: 0 4px 6px var(--card-shadow);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    border: 1px solid var(--input-border);
}

.card .sender {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card .sender span {
    font-size: 24px;
}

.card .code {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.card .meta {
    font-size: 14px;
    color: gray;
    text-align: left;
}

.card .actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 10px;
}

.card .actions button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: transparent;
    color: gray;
    border-radius: 0;
    border: none;
    font-size: 14px;
    cursor: default;
    pointer-events: none;
}

.card .actions button span {
    font-size: 14px;
}

.card .actions button i {
    color: gray;
}

.card .copy-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-hover-color);
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card .copy-button.copied {
    background: var(--success-color);
    color: white;
    border-color: var(--success-hover-color);
}

.card .copy-button:hover {
    background-color: var(--primary-hover-color);
}

.card .copy-button.copied:hover {
    background-color: var(--success-hover-color);
}

#verification-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: var(--card-background);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--card-shadow);
}

#verification-section h2 {
    margin: 0;
}

#profile-select-container,
#totp-input-container {
    display: flex;
    width: 100%;
    max-width: 320px;
}

#profile-select-container label,
#totp-input-container label {
    width: 5em;
    text-align: left;
}

#profile-select,
#totp-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(100% - 5em);
    max-width: 240px;
    background: var(--card-background);
    color: var(--text-color);
}

#verify-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color ease 0.25s;
}

#verification-section:has(#totp-input:valid) #verify-button {
    background: var(--primary-color);
    cursor: pointer;
}

#verification-section:has(#totp-input:valid) #verify-button:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

#verification-section:not(:has(#totp-input:valid)) #verify-button {
    background-color: var(--priamry-disabled-color);
    cursor: not-allowed;
}

#verification-message {
    color: var(--primary-hover-color);
    font-size: 14px;
}

#verification-message {
    height: 1ch;
    text-align: center;
}

#code-section {
    display: none;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background: var(--primary-color);
    width: 0;
    transition: width 0.5s ease;
}

#profile-info-card {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
}

#profile-info-card label {
    margin-right: 8px;
}

#profile-info-card button {
    background: red;
    color: white;
    border: 1px solid darkred;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#profile-info-card button:hover {
    background-color: darkred;
}